
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/doc/html/
/doc/latex/
/doc/man/
/examples/sine_example
/examples/lambda_sine_example
/examples/device_probing

/examples/playthrough


/m4/
/autom4te.cache/
/autom4te.cache/requests
/autom4te.cache/*.*
/src/.deps/
/src/Makefile
/examples/.deps
/examples/Makefile
config.log
config.status
configure
libtool
Makefile
Makefile.in
/src/Makefile.in
/examples/Makefile.in
aclocal.m4
/config/

*.tar.gz
